header
  ul
    li #[a(href="/") Accueil]
    li #[a(href="/auth/signin") Connexion]
    li #[a(href="/users/signup") Inscription]
    li #[a(href="/sale") Caisse]
    li #[a(href="/produits/1") Produits]